﻿@model ApiCliente.Models.mvcTicketModel
@{
	ViewBag.Title = "Mantenimiento de Tickets";
}

<h2>Mantenimiento de Tickets</h2>


<div class="form-body">

	@using (Html.BeginForm())
	{
		@Html.HiddenFor(Model => Model.Id)

		<div class="form-group">
			@Html.LabelFor(Model => Model.Titulo_Problema)
			@Html.EditorFor(Model => Model.Titulo_Problema)
			@Html.ValidationMessageFor(Model => Model.Titulo_Problema)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Detalle)
			@Html.EditorFor(Model => Model.Detalle)
			@Html.ValidationMessageFor(Model => Model.Detalle)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Reporta)
			@Html.EditorFor(Model => Model.Reporta)
			@Html.ValidationMessageFor(Model => Model.Reporta)
		</div>

		<div class="form-group" id="SelectHouse">
			@Html.LabelFor(Model => Model.Cliente)
			@Html.Action("ListarClientes", "Ticket");
			@Html.ValidationMessageFor(Model => Model.Cliente)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.EstadoActual)
			<select class="form-control" id="EstadoActual" name="EstadoActual">
				<option value="Abierto">Abierto</option>
				<option value="En Proceso">En Proceso</option>
				<option value="En Espera">En Espera</option>
				<option value="Finalizado">Finalizado</option>
			</select>
			@Html.ValidationMessageFor(Model => Model.EstadoActual)
		</div>

		<div class="form-group">
			<input type="submit" value="Guardar" class="btn button" />
			<input type="reset" value="Limpiar" class="btn button" />
		</div>

	}

</div>

<script>
	$('.SelectHouse').click(function() {

 $.ajax({  url: @Url.Action("ListarClientes", "Ticket"),
           type: "post",
           dataType:"html",
           data: "<your data as serialized json>
	",
	success: function(result) {
	$('.divForSelectHouse').html(result);
	}
	});
	});
</script>