﻿@model IEnumerable<ApiCliente.Models.mvcTicketModel>

@{
	ViewBag.Title = "Menú Tickets";
}
<br>
<h2>Menú Tickets</h2>

<p>
	<a href="@Url.Action("AgregarOEditar", "Ticket")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a>
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Titulo_Problema)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Detalle)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Reporta)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Cliente)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.EstadoActual)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Titulo_Problema)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Detalle)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Reporta)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Cliente1.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EstadoActual)
			</td>
			<td>
				<a href="@Url.Action("AgregarOEditar", "Ticket", new { id= item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Editar</a>

				<a Onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</a>
			</td>
		</tr>
	}

</table>


@section Scripts {
	<script>
	$(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
	});
	function Delete(id) {
            alertify.confirm('Web Api CRUD','Realmente desea eliminar el registro ?',function(){
                window.location.href  = '@Url.Action("Eliminar", "Ticket")/'+id;
            },null );
    }
	</script>

}