﻿@model IEnumerable<ApiCliente.Models.mvcClienteModel>

<select class="form-control" id="Cliente" name="Cliente">
	@foreach (var item in Model)
	{
		<option value="@item.id"> @item.Nombre</option>
	}
</select>
