﻿@model ApiCliente.Models.mvcUsuarioModel


@{
	ViewBag.Title = "AgregarOEditar";
}

<h2>Mantenimiento de Usuarios</h2>

<div class="form-body">
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(Model => Model.Id)

		<div class="form-group">
			@Html.LabelFor(Model => Model.Nombre_Usuario)
			@Html.EditorFor(Model => Model.Nombre_Usuario)
			@Html.ValidationMessageFor(Model => Model.Nombre_Usuario)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Apellido_Usuario)
			@Html.EditorFor(Model => Model.Apellido_Usuario)
			@Html.ValidationMessageFor(Model => Model.Apellido_Usuario)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Contrasena)
			@Html.EditorFor(Model => Model.Contrasena)
			@Html.ValidationMessageFor(Model => Model.Contrasena)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Rol_Usuario)
			<select class="form-control" id="Rol_Usuario" name="Rol_Usuario">
				<option value="Admin">Administrador</option>
				<option value="User">Usuario</option>
			</select>
			@Html.ValidationMessageFor(Model => Model.Rol_Usuario)
		</div>
		<br>
		<div class="form-group">
			<input type="submit" value="Guardar" class="btn button" />
			<input type="reset" value="Limpiar" class="btn button" />
		</div>
	}
</div>

@section scripts{
	@Scripts.Render("~/bundles/jqueryval");
}
