﻿@model IEnumerable<ApiCliente.Models.mvcUsuarioModel>

@{
	ViewBag.Title = "Menú Usuarios";
}
<br>
<h2>Menú Usuarios</h2>


<p>
	<a href="@Url.Action("AgregarOEditar", "Usuario")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a>
</p>
<table class="table table-striped">
	<thead class="table-heading">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre_Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Apellido_Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rol_Usuario)
			</th>

			<th>Acciones</th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre_Usuario)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Apellido_Usuario)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rol_Usuario)
			</td>

			<td>
				<a href="@Url.Action("AgregarOEditar", "Usuario", new { id= item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Editar</a>

				<a Onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</a>
			</td>
		</tr>
	}

</table>
@section Scripts {
	<script>
	$(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
	});
	function Delete(id) {
            alertify.confirm('Web Api CRUD','Realmente desea eliminar el registro ?',function(){
                window.location.href  = '@Url.Action("Eliminar","Usuario")/'+id;
            },null );
    }
	</script>
}
