﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Web Services</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
	<link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				@Html.ActionLink("Menu Principal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Modulo Cliente", "Index", "Cliente")</li>
					<li>@Html.ActionLink("Modulo Contacto", "Index", "Contacto")</li>
					<li>@Html.ActionLink("Modulo Usuario", "Index", "Usuario")</li>
					<li>@Html.ActionLink("Modulo Reuniones", "Index", "Reunion")</li>
					<li>@Html.ActionLink("Modulo Support Tickets", "Index", "Ticket")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; Web Services.</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script src="~/Scripts/alertify.min.js"></script>
</body>
</html>
