﻿@model ApiCliente.Models.mvcReunionModel
@{
	ViewBag.Title = "Mantenimiento de Reuniones";
}

<h2>Mantenimiento de Reuniones</h2>

<div class="form-body">
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(Model => Model.Id)

		<div class="form-group">
			@Html.LabelFor(Model => Model.Titulo_Reunion)
			@Html.EditorFor(Model => Model.Titulo_Reunion)
			@Html.ValidationMessageFor(Model => Model.Titulo_Reunion)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Fecha_Hora)
			@Html.EditorFor(Model => Model.Fecha_Hora, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(Model => Model.Fecha_Hora)
		</div>

		<div class="form-group" id="SelectHouse">
			@Html.LabelFor(Model => Model.Id_Usuario)
			@Html.Action("ListarUsuarios", "Reunion");
			@Html.ValidationMessageFor(Model => Model.Id_Usuario)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Virtual)
			@Html.EditorFor(Model => Model.Virtual)
			@Html.ValidationMessageFor(Model => Model.Virtual)
		</div>
		<div class="form-group">
			<input type="submit" value="Guardar" class="btn button" />
			<input type="reset" value="Limpiar" class="btn button" />
		</div>
	}
</div>

<script>
	$('.SelectHouse').click(function() {

 $.ajax({  url: @Url.Action("ListarUsuarios", "Reunion"),
           type: "post",
           dataType:"html",
           data: "<your data as serialized json>
	",
	success: function(result) {
	$('.divForSelectHouse').html(result);
	}
	});
	});
</script>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
	$(function () {
		$('#datetimepicker2').datetimepicker({
			locale: 'ru'
		});
	});
</script>