﻿@model IEnumerable<ApiCliente.Models.mvcReunionModel>

@{
	ViewBag.Title = "Menú Reuniones";
}
<br>
<h2>Menú Reuniones</h2>

<p>
	<a href="@Url.Action("AgregarOEditar", "Reunion")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a>
</p>
<table class="table table-striped">
	<thead class="table-heading">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Titulo_Reunion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fecha_Hora)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Id_Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Virtual)
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Titulo_Reunion)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Fecha_Hora)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Usuario.Nombre_Usuario)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Virtual)
			</td>
			<td>
				<a href="@Url.Action("AgregarOEditar", "Reunion", new { id= item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Editar</a>

				<a Onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</a>
			</td>
		</tr>
	}

</table>

@section Scripts {
	<script>
	$(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
	});
	function Delete(id) {
            alertify.confirm('Web Api CRUD','Realmente desea eliminar el registro ?',function(){
                window.location.href  = '@Url.Action("Eliminar","Reunion")/'+id;
            },null );
    }
	</script>

}