﻿@model IEnumerable<ApiCliente.Models.mvcUsuarioModel>

<select class="form-control" id="Id_Usuario" name="Id_Usuario">
	@foreach (var item in Model)
	{ 
		<option value="@item.Id"> @item.Nombre_Usuario </option>
	}
</select>
