﻿@model ApiCliente.Models.mvcContactoModel
@{
	ViewBag.Title = "Mantenimiento de Contactos";
}

<h2>Mantenimiento de Contactos</h2>

<div class="form-body">
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(Model => Model.Id)

		<div class="form-group" id="SelectHouse">
			@Html.LabelFor(Model => Model.Id_Cliente)
			@Html.Action("ListarClientes", "Contacto");
			@Html.ValidationMessageFor(Model => Model.Id_Cliente)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Nombre)
			@Html.EditorFor(Model => Model.Nombre)
			@Html.ValidationMessageFor(Model => Model.Nombre)
		</div>
		<div class="form-group">
			@Html.LabelFor(Model => Model.Apellidos)
			@Html.EditorFor(Model => Model.Apellidos)
			@Html.ValidationMessageFor(Model => Model.Apellidos)
		</div>
		<div class="form-group">
			@Html.LabelFor(Model => Model.Puesto)
			@Html.EditorFor(Model => Model.Puesto)
			@Html.ValidationMessageFor(Model => Model.Puesto)
		</div>
		<div class="form-group">
			@Html.LabelFor(Model => Model.Correo_Electronico)
			@Html.EditorFor(Model => Model.Correo_Electronico)
			@Html.ValidationMessageFor(Model => Model.Correo_Electronico)
		</div>
		<div class="form-group">
			@Html.LabelFor(Model => Model.Telefono)
			@Html.EditorFor(Model => Model.Telefono)
			@Html.ValidationMessageFor(Model => Model.Telefono)
		</div>
		<div class="form-group">
			<input type="submit" value="Guardar" class="btn button" />
			<input type="reset" value="Limpiar" class="btn button" />
		</div>
	}

</div>
<script>
	$('.SelectHouse').click(function() {

 $.ajax({  url: @Url.Action("ListarClientes", "Contacto"),
           type: "post",
           dataType:"html",
           data: "<your data as serialized json>
	",
	success: function(result) {
	$('.divForSelectHouse').html(result);
	}
	});
	});
</script>
	
