﻿@model IEnumerable<ApiCliente.Models.mvcContactoModel>

@{
	ViewBag.Title = "Menú Contacto";
}
<br>
<h2>Menú Contacto</h2>

<p>
	<a href="@Url.Action("AgregarOEditar", "Contacto")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a>
</p>
<table class="table table-striped">
	<thead class="table-heading">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id_Cliente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Apellidos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Correo_Electronico)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Telefono)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Puesto)
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Cliente.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Apellidos)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Correo_Electronico)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Telefono)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Puesto)
			</td>
			<td>
				<a href="@Url.Action("AgregarOEditar", "Contacto", new { id= item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Editar</a>

				<a Onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</a>
			</td>
		</tr>
	}

</table>

@section Scripts {
	<script>
	$(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
	});
	function Delete(id) {
            alertify.confirm('Web Api CRUD','Realmente desea eliminar el registro ?',function(){
                window.location.href  = '@Url.Action("Eliminar","Contacto")/'+id;
            },null );
    }
	</script>

}