﻿@model IEnumerable<ApiCliente.Models.mvcClienteModel>

<select class="form-control" id="Id_Cliente" name="Id_Cliente">
	@foreach (var item in Model)
	{
		<option value="@item.id"> @item.Nombre</option>
	}
</select>


