﻿@model ApiCliente.Models.mvcClienteModel

@{
	ViewBag.Title = "Mantenimiento de Clientes";
}

<h2>Mantenimiento de Clientes</h2>

<div class="form-body">
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(Model => Model.id)

		<div class="form-group">
			@Html.LabelFor(Model => Model.Nombre)
			@Html.EditorFor(Model => Model.Nombre)
			@Html.ValidationMessageFor(Model => Model.Nombre)
		</div>

		<div class="form-group">
			@Html.LabelFor(Model => Model.Ced_Juridica)
			@Html.EditorFor(Model => Model.Ced_Juridica)
			@Html.ValidationMessageFor(Model => Model.Ced_Juridica)
		</div>
		<div class="form-group">
			@Html.LabelFor(Model => Model.Pag_Web)
			@Html.EditorFor(Model => Model.Pag_Web)
			@Html.ValidationMessageFor(Model => Model.Pag_Web)
		</div>
		<div class="form-group">
			@Html.LabelFor(Model => Model.Telefono)
			@Html.EditorFor(Model => Model.Telefono)
			@Html.ValidationMessageFor(Model => Model.Telefono)
		</div>
		<div class="form-group">
			@Html.LabelFor(Model => Model.Sector)
			<select class="form-control" id="Sector" name="Sector">
				<option value="Educacion">Educacion</option>
				<option value="Industria">Industria</option>
				<option value="Agricultura">Agricultura</option>
				<option value="Manufactura">Manufactura</option>
				<option value="Servicios">Servicios</option>
				<option value="Otros">Otros</option>
			</select>
			@Html.ValidationMessageFor(Model => Model.Sector)
		</div>
			<br>
			<div class="form-group">
				<input type="submit" value="Guardar" class="btn button" />
				<input type="reset" value="Limpiar" class="btn button" />
			</div>
			}
		</div>

		@section scripts{
			@Scripts.Render("~/bundles/jqueryval");
		}
