﻿@model IEnumerable<ApiCliente.Models.mvcClienteModel>

@{
	ViewBag.Title = "Menú Clientes";
}
<br>
<h2>Menú Clientes</h2>

<p>
	<a href="@Url.Action("AgregarOEditar", "Cliente")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a>
</p>
<table class="table table-striped">
	<thead class="table-heading">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ced_Juridica)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pag_Web)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Telefono)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Sector)
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Ced_Juridica)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Pag_Web)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Telefono)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Sector)
			</td>
			<td>
				<a href="@Url.Action("AgregarOEditar", "Cliente", new { id= item.id})" class="btn btn-default"><i class="fa fa-pencil"></i> Editar</a>
			
				<a Onclick="Delete(@item.id)" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</a>
			</td>
		</tr>
	}

</table>

@section Scripts {
<script>
	$(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
	});
	function Delete(id) {
            alertify.confirm('Web Api CRUD','Realmente desea eliminar el registro ?',function(){
                window.location.href  = '@Url.Action("Eliminar","Cliente")/'+id;
            },null );
    }
</script>
}